<h1 class="mt-2">Postagens da categoria: {{categoria.titulo}}</h1>

{{#each postagens}}
<div class="card mt-4">
    <div class="card-body">
        <h1>{{titulo}}</h1>
        <h4>{{descricao}}</h4>
        <p>{{conteudo}}</p>
        <a href="/postagem/{{slug}}"><button class="btn btn-success">Leia mais</button></a>
    </div>
</div>
    {{else}}
    <h3>Não há registro de postagens dessa categoria!</h3>
{{/each}}