<h1 class="mt-2">Editar postagem</h1>
<div class="container mt-3">
    <div class="card-body">
        <form action="/admin/postagens/edit" method="post">
        <input type="hidden" name="id" value="{{postagem._id}}">
            <label for="Titulo" class="form-label">Titulo: </label>
            <input type="text" name="titulo" id="titulo" class="form-control" value="{{postagem.titulo}}">
            <label for="slug">Slug: </label>
            <input type="text" name="slug" id="slug" class="form-control" value="{{postagem.titulo}}">
            <label for="descricao" class="form-label">Descrição: </label>
            <input type="text" name="descricao" id="descricao" class="form-control" value="{{postagem.descricao}}">
            <label for="conteudo" class="form-label">Conteudo: </label>
            <textarea name="conteudo" id="conteudo" class="form-control">{{postagem.conteudo}}</textarea>
            <label for="categoria" class="form-label">Categoria:</label>
            
            <select name="categoria" id="categoria" class="form-select">
            {{#each categoria}}
                <option value="{{_id}}">{{titulo}}</option>
                {{else}}
                <option value="0">Nenhuma categoria registrada</option>
            {{/each}}    
            </select>
            <input type="submit" value="Editar Postagem" class="btn btn-success mt-2">
        </form>
    </div>
</div>