<h1>Postagens</h1>
<a href="/admin/postagens/add"><input type="submit" class="btn btn-primary" value="Adicionar Postagens"></a>
{{#each postagens}}
<div class="card">
    <div class="card-body">
        <h2>{{titulo}}</h2>
        <h4>{{descricao}}</h4>
        <p>{{conteudo}}</p>
        <p>categoria: {{categorias.titulo}}</p>
        <input type="submit" class="btn btn-primary" value="Adicionar Postagens">
    </div>
    {{else}}
    <input type="submit" class="btn btn-primary" value="Adicionar Postagens">
    <h2>Não há nenhuma postagem registrada!</h2>
</div>
{{/each}}