<div class="bg-light p-5 rounded-lg m-3">
  <h1 class="display-4">Bem vindo ao Tech Android</h1>
  <p class="lead">Um site simples sobre o mundo do android, custom roms, apps, e muito mais...</p>
  <hr class="my-4">
  
  {{#if user}}
  
  {{else}}
  <a class="btn btn-primary btn-lg" href="#" role="button">Crie uma conta</a>
  {{/if}}
</div>
<h1>Postagens</h1>
{{#each postagens}}
<div class="card mt-4">
    <div class="card-body">
        <h1>{{titulo}}</h1>
        <h4>{{descricao}}</h4>
        <p>{{conteudo}}</p>
        <a href="/postagem/{{slug}}"><button class="btn btn-success">Leia mais</button></a>
        <h6 class="mt-2">categoria: {{categoria.titulo}}</h6>
    </div>
</div>
{{/each}}

